<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962813861371-18ml0hp6r8fmbivucve8lcqd3l021pbc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962813861371-18ml0hp6r8fmbivucve8lcqd3l021pbc</string>
	<key>API_KEY</key>
	<string>AIzaSyAPvMxTftttHCQB7Py-_2NiduRYKNXTTM8</string>
	<key>GCM_SENDER_ID</key>
	<string>962813861371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.escalana.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-77240</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-77240.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962813861371:ios:83cf7cb6bf349ca2</string>
	<key>DATABASE_URL</key>
	<string>https://snacktacular-77240.firebaseio.com</string>
</dict>
</plist>